@import '../../theme/color';

.checkbox {
  display: none;
  &:checked + label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translate3d(0, -50%, 0);
    width: 10px;
    height: 10px;
    background-color: $check;
  }
}

.label {
  flex: 1 0 0;
  position: relative;
  vertical-align: baseline;
  padding: 16px 46px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate3d(0, -50%, 0);
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #cfdadd;
  }
}
